:root {
  --background: #3a3632;
  --background-light: #fbf9f8;
  --text-color-dark: #000000;
  --text-color-normal: #3a3632;
  --line-color: #3a3632;
  --button-text-color: #ffffff;
  --button-background-hover: #161513;
  --button-background: #312d2a;
  --header-title: #fbf9f8;
  --chat-user-color: #312d2a;
  --chat-user-background: #bbbbbb;
  --chat-assistant-color: #dddddd;
  --chat-assistant-background: #312d2a;
  --chat-input-field-color: #000000;
}

* {
  box-sizing: border-box;
  font-family: FoundersGroteskWeb, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

.bodystyles {
  /*background-image: url("background.png");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
  margin: 0px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 111px;
  background-color: #103233;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.headertop {
  padding-left: 30px;
  height: 60px;
  z-index: 999;
  display: flex;
  flex-direction: row;
}

.headerbottom {
  padding-left: 50px;
  height: 51px;
  display: flex;
  background-color: #194446;
  color: white;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  align-items: center;
}

.header img {
  height: 37px;
  margin-top: 12px;
}

.spacer {
  flex-grow: 1;
}

.buttons {
  display: flex;
}

.action-button {
  width: 140px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  clip-path: polygon(12% 0px, 100% 0px, 88% 100%, 0px 100%);
  font-size: 13px;
  font-weight: 700;
  margin-right: -23px;
  cursor: default !important;
}

.action-button.red {
  background-color: rgb(226, 59, 37);
  color: white;
}

.action-button.striped {
  color: white;
  background-image: url("https://images.ctfassets.net/2lppn7hwgzta/5XCVcMkv5ekmm3LwLD2BhU/b612db2986440e9042f9969410335b4d/dock_button_no_border__1_.svg");
  background-size: cover;
}

.action-button.white {
  background-color: white;
  color: #103233;
  font-size: 18px;
}

.datarow {
  width: 140px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  clip-path: polygon(12% 0px, 100% 0px, 88% 100%, 0px 100%);
  font-size: 13px;
  font-weight: 700;
  margin-right: -23px;
  background-color: #e7e7e7;
  color: #103233;
  font-size: 18px;
  cursor: default !important;
}

.breadcrumb {
  margin-bottom: 2px;
  cursor: default !important;
}

.breadcrumb.selected {
  border-bottom-style: solid;
  border-bottom-color: rgb(102, 193, 196);
  border-bottom-width: 0.8px;
}

.slash {
  border-right-style: solid;
  border-right-color: white;
  transform: matrix(0.961262, 0.275637, -0.275637, 0.961262, 0, 0);
  height: 31.2px;
  margin-left: 20px;
  margin-right: 20px;
}

.footnote {
  position: fixed;
  bottom: 165px;
  height: 20px;
  z-index: 999;
  padding-left: 40px;
  color: #000000;
  font-weight: 300;
  font-style: italic;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #103233;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerImages {
  display: flex;
}
.footerImages img {
  width: 200px;
  height: 40px;
}
.title {
  color: white;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 32px;
  text-decoration-color: black;
  text-decoration-style: white;
  text-shadow: rgb(6, 26, 27) 0px 4px 4px;
  text-transform: uppercase;
}
.forminput {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 5px;
}
.buttonstyle {
  background-color: #ff552e;
  color: white;
  border: 0;
  outline: 0;
  padding: 7px 20px 7px 20px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.buttonstyle:hover {
  color: #cccccc;
}

.theaderrow {
  /*transform: skewX(-16deg);*/
}
.theader {
  /*background-color: #e7e7e7;
  font-size: 16px;
  color: #000000;*/
  font-weight: 300;
  /*font-weight: 600;*/
  /*height: 36px;*/
  text-align: left;
  /*text-decoration: underline;*/
}
.theaderdiv {
  /*transform: skewX(16deg);*/
}
.tcell {
  /*font-size: 20px;
  color: #000000;
  font-weight: 300;
  font-style: italic;*/
}

.chatUser {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--chat-user-color);
  background-color: var(--chat-user-background);
  border-radius: 10px;
  padding: 14px 25px 16px 25px;
  margin-top: 50px;
  margin-left: auto;
  justify-content: flex-end;
  max-width: 520px;
}

.chatAssistant {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--chat-assistant-color);
  background-color: var(--chat-assistant-background);
  border-radius: 10px;
  padding: 14px 25px 16px 25px;
  margin-right: auto;
  justify-content: flex-start;
  max-width: 520px;
}

.chatSystem {
  display: flex;
  align-items: top;
/*  align-items: flex-start;
  gap: 10px;
  color: var(--chat-user-color);
  background-color: var(--chat-user-background);
  border-radius: 10px;
  padding: 10px 15px 12px 15px;
  margin-left: auto;
  justify-content: flex-end;
  max-width: 520px;*/
}

.inputBox {
  background-color: #40414f;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.container {
  position: absolute;
  top: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  bottom: 455px;
  left: 0;
}

.chatContainerFlexCol {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
}

.chatInputFooter {
  position: fixed;
  bottom: 170px;
  left: 0;
  width: 100vw;
  /*height: 120px;*/
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestionContainer
{
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.suggestion {
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #111111;
  margin-bottom: 5px;
  white-space: nowrap;
}

.suggestion:hover {
  background-color: #f5f5f5;
}

.chatBox {
  padding-left: 20px;
  width: 800px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  height: 53px;
  border-style: solid;
  /*border-color: purple;*/
}

.inputFieldChat {
  background-color: transparent;
  border-style: none;
  font-size: 16px;
  color: var(--chat-input-field-color);
  flex-grow: 1;
  width: 100%;
  outline: none;
  /*padding: 0px;*/
}

.chatSystemIconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  align-content: center;
  /*border-style: solid;*/
}

.chatSystemText {
  margin-left: 10px;
  display: flex; 
  flex-direction: column
}

.hidden {
  display: none;
}

.toggleDiv {
  cursor: pointer;
  text-decoration: underline;
}
